/*FOOTER*/
#footer{
    width: 99vw;
    margin-left: 0;
    height: 25vh;
    background-color:black;
    font-size: 12px;
    color: white;  
    .footerColumnas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;   
        .masDelEstudio{
            text-align: justify;
            width: 33%;
            h4{
                font-family: 'Barlow', sans-serif;
                font-size: 16px;
            } 
        }
        p{
            font-family: 'Robot', sans-serif;
            font-size: 12px;
        }
        .redesSociales{
            text-align: justify;
            width: 33%;
            a{
                display: block;
            } 
        }
        .contacto{
            text-align: justify;
            width: 33%;
        }
    }
    .copyright{
        text-align: center;
        width: 4fr;
    }
}