/*Menu*/
.contenerdorMenu{
    height: 20vh;
    .navbarZindex{
        z-index: 3;
        .menu{   
        font-family: 'Barlow';
        font-size: 16px;
        font-weight: 500;
        font-style: normal;  
        padding: 10px;    
        border: 0;
        outline: 0;
        top: 0;
        right: 0;
        background-color: white !important;  
            a{
                font-weight: 1000!important;
                color: black!important;
                &a:hover{
                    background-color:#0193ff; 
                    color: white !important;
                    padding: 10px;
                    border-radius:5px;   
                }
            }
        }
    }
}