/*SERVICIOS*/
header{
    display: none;
}

.tituloServ {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    transition: all 3s;
}

.tarjetas{
    width: 100vw;
    align-items: center;
    justify-content: center;
    .cardPersonalizada{
        margin-top: 15px;
    }
}

.servicios{
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    .serviciosLista{
        margin: 15px;
        .serviciosTitulo{
            font-weight: 800;
            text-decoration: underline;
            .serviciosEstudio li{
                margin-left: 25px;
                margin-bottom: 10px;
                margin: 5px;
            }
        }
    }
}

/*EXTEND y MIXINS*/
@mixin sizes($width, $height, $position, $right, $color, $border-radius) {
    height: $height;
    width: $width;
    position: $position;
    right: $right;
    color: $color;
    border-radius: $border-radius;
 }

.redesSociales{
    width: 95vw;
        .whatsapp {
        @include sizes($btnRedesAlto, $btnRedesAncho, fixed, 3vw, white, 50px);      
        text-align:center;    
        z-index:100;           
        margin: 4px;
        padding: 0px;
        bottom:$btnDistancia;    
        &:hover{
            color:#25d366;  
            background-color: white;
            }
        }    
    .instagram{
        @extend .whatsapp;        
        bottom:$btnDistancia+1vh+$btnRedesAlto;        
        &:hover{
            color: blue;  
            background-color: white;
        }
    }
    .facebook{
        @extend .whatsapp;
        bottom:$btnDistancia+3vh+$btnRedesAlto*2;        
        &:hover{
            color: blue;  
            background-color: white;
        }
    }
}

/*MAPAS*/
$redes: ( /*Declaramos nuestro mapa*/
        facebook: blue,
        instagram:  blue,
        whatsapp: #25d366,
); 
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $redes {
   .btn--#{$red} {
       background-color: $color;
   }
}

/*MISINS*/


