/*Paleta de Colores*/

$colorAzulOscuro: rgba(16,68,113,255);
$colorCeleste: rgb(119,201,237);
$colorTurquesa: rgb(51,145,193);
$colorGris: rgb(148,148,148);
$colorPastel:rgb(231,234,236);
$btnRedesAlto: 3vh;
$btnRedesAncho: 3vh;
$btnDistancia: 26vh;